@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700&display=swap'); /* Passion One */
@import url('https://fonts.googleapis.com/css?family=Share&display=swap'); /* share */
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');/*ZCOOL QingKe HuangYou*/
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap'); /*lobster*/
html,body{ /* setting margin and padding to 0px*/
  margin: 0px;
  padding:0px;
}
body{ /* makes background a cream color */
  background-color: #fffdd0;
}
#mainContainer{ /* makes the entire design a flex box */
  display: flex;
  flex-direction: column; /* column direction */
  flex-wrap: nowrap; /* no wrapping */
  flex-flow: column;
  justify-content: center;
}
#headerContainer{ /* style options for heading logo */
  position: relative;
  border: 2vmin solid #b9413f; /* red color */
  border-top: 0px;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 5vmin;
}
#logoContainer{ /* logo settings */
  display: flex; /* flexbox */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10vmin;
  background-color: #b9413f; /* red color */
  border: 1vmin solid white; /* white center line border */
  border-top: 0px;
}
#logoPortion{ /* logo portion */
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #b9413f; /* red color*/
  padding: 4vmin;
  padding-left: 0px;
  padding-right: 0px;
}
 #logoPortion img{
   height: 2em; /*image next to logo set based on font size*/
 }
 #logoPortion span{ /* logo text itself */
   font-family: 'Passion One'; /* passion one font used here */
   font-weight: bold;
   color: white;
 }
#sideHeaderInfo{ /* "prices only good for.." info text*/
  padding: 1vmin;
  font-family: sans-serif;
  font-size: 1.5vmin;
  align-self: flex-end;
  color: white;
  background-color: #b9413f;
 }
#potionShopContainer{ /* potion shop */
  display: block;
}
#secondBg{ /* red background for 2nd third */
  position: absolute;
  display: flex;
  top: 75vmin;
  width: 100vw;
  height: 50vh;
  align-items: center;
  z-index: -2; /* puts behind everything*/
}
.potionShopTitle{ /* potion shop title (big text)*/
  position: absolute;
  left: 50vmin;
  right: 50vmin;
  top: 80vmin;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  flex-wrap:  nowrap;
  align-items: center;
}
div.potionShopTitle div:first-of-type{ /* top part of shop title */
  font-family: 'Passion One';
  font-size: 20vmin;
  color: white;
}
div.potionShopTitle div:last-of-type{ /* bottom part of shop title*/
  font-family: 'Lobster';
  font-size: 12vmin;
  color: white;
}


div.largePotionItemContainer div.potionTextContainer:first-of-type{ /*text container for large potion items*/
  position: absolute;
  left: 20vmin;
  top: 45vmin;
  border-radius: 15px;
  border: 1px solid white;
  padding: 1vmin;
  font-size: 3vmin;
  text-align: center;
   display: inline-flex;
   flex-direction: row;
   background-color: white;
   opacity: .75;
 }

 div.largePotionItemContainer div.potionTextContainer:last-of-type{ /*text container for second large potion items*/
   position: absolute;
   right: 20vmin;
   top: 45vmin;
   border-radius: 15px;
   border: 1px solid white;
   padding: 1vmin;
   font-size: 3vmin;
   text-align: center;
    display: inline-flex;
    flex-direction: row;
    background-color: white;
    opacity: .75;
  }
 div.largePotionItemContainer img:first-of-type{ /* large potion image */
   position: relative;
   left: 25vmin;
   width: 35vw;
     transform: scaleX(1);
   z-index: -1;
 }
 div.largePotionItemContainer img:last-of-type{ /* second large potion image*/
   position: relative;
   left: 25vmin;
   width: 35vw;
   transform: scaleX(-1);
   z-index: -1;
 }
 div.smallPotionItemContainer div.potionTextContainer:first-of-type{ /*small potion text*/
   position: absolute;
   left: 15vmin;
   border-radius: 15px;
   border: 1px solid white;
   padding: 1vmin;
   font-size: 3vmin;
   text-align: center;
    display: inline-flex;
    flex-direction: row;
    background-color: white;
    opacity: .75;
  }
  div.smallPotionItemContainer div.potionTextContainer:last-of-type{ /* 2nd small potion text*/
    position: absolute;
    right: 15vmin;
    border-radius: 15px;
    border: 1px solid white;
    padding: 1vmin;
    font-size: 3vmin;
    text-align: center;
     display: inline-flex;
     flex-direction: row;
     background-color: white;
     opacity: .75;
   }
 div.smallPotionItemContainer img:first-of-type{ /*first small potion image*/
   position: relative;
   right:7vmin;
   bottom: 41vmin;
   width: 35vw;
   transform: scaleX(1);
   z-index: -1;
 }

 div.smallPotionItemContainer img:last-of-type{ /* second small potion image*/
   position: relative;
   left: 57vmin;
   bottom: 41vmin;
   width: 35vw;
   transform: scaleX(-1);
   z-index: -1;
 }
.potionDescriptionText{ /* potion description text*/
  font-family: 'Share';
  display: flex;
  flex-direction: column;
  align-self: center;
}
.potionDescriptionText div:last-of-type{ /*second potion description text*/
  font-size: 1.7vmin;
}
.price{ /*font and size for prices*/
  font-family: 'ZCOOL QingKe HuangYou';
  padding: 1vmin;
font-size: 5vmin;
}

div.dealText div:first-of-type{/* deal text header font size*/
 font-size: 3vmin;
}

div.dealText div:last-of-type{ /* deal text requirement font*/
 font-size: 2vmin;
}
.bottomInfoContainer{ /*container for the bottom part of the design*/
  position: absolute;
  display: flex;
  flex-direction: row;
}
div.dealSectionContainer img{ /* image for each deal*/
  padding-left: 5vmin;
  width: 25vmin;
}
div.dealSectionContainer img:last-of-type{ /* image for each deal (last of type)*/
  height: 25vmin;
  width: 10vmin;
  padding: 0px;
}
div.dealSectionContainer2 img:last-of-type{ /* image for each second deal (last of type)*/
  position: relative;
  right: 25vmin;
  height: 25vmin;
  width: 10vmin;
  padding: 0px;
}
.dealText{ /* deal text settings */
  display: flex;
  flex-direction: column;
  padding-bottom: 5vmin;
  font-family: 'Share';
}

.price2{ /* price font settings for deal */
  font-family: 'ZCOOL QingKe HuangYou';
  font-size: 8vmin;
}

.dealSectionContainer{ /* deal conatiner settings*/
  position: absolute;
  top:115vmin;
  padding: 7vmin;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
#potion1{ /* back potion on the double potion*/
  position: relative;
  padding: 0px;
  bottom: 6vmin;
}
#potion2{ /* front potion on the double potions*/
  width: 17vw;
  padding: 0px;
  bottom: 3vmin;
  position:relative;
  right: 19vmin;
}
#buyonegetonefree{ /* buy on get one free circle container*/
  position: relative;
  display:flex;
  flex-direction: column;
  color: white;
}
#buyonegetonefree div{ /* text part of the circle*/
  position: relative;
  line-height: 1;
  font-size: 3vmin;
  text-align: center;
  right: 48vmin;
  bottom: 3vmin;
  font-family: 'Passion One'
}
#buyonegetonefree div:last-of-type{ /* "FREE" part */
  font-family: 'Lobster';
  font-size: 5vmin;
}
#circle{ /* circle part itself */
  position: relative;
  width:9vw;
  height: 9vw;
  right: 48vmin;
  top: 10vmin;
}
.pokeballSectionContainer{ /* pokeball more section */
  padding: 0px;
  position: absolute;
  width: 40vw;
  left: 60vmin;
  top: 1vmin;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  color: #b9413f;
}

.cursive{ /* first curly font*/
  font-size: 8vmin;
  font-family: 'Lobster';
}
.straight{ /* first straight font*/
  font-size: 12vmin;
  font-family: 'Passion One';
}
.cursive2{ /* second curly font*/
  position: relative;
  bottom: 3vmin;
  font-size: 11vmin;
  font-family: 'Lobster';
}
.straight2{ /* second curly font*/
  position: relative;
  bottom: 3vmin;
  font-size: 8vmin;
  font-family: 'Passion One';
}
div.pokeballSectionContainer img:last-of-type{ /* pokeball arrow image*/
  position: relative;
  bottom: 39vmin;
  right: 3vmin;
  width: 19vw;
  height: 5vw;
}
.eventSectionContainer{ /* blue event part */
  padding:0px;
  position: absolute;
  width: 70vw;
  height: 23vh;
  top: 30vmin;
  right: 40vmin;
  background-color: #59bcd6; /* color blue bg */
  border-radius: 0px 100px 100px 0px; /* creates the round border */
  border: 1px solid #59bcd6; /* color blue border*/
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: -3;
}
#happy{ /* happy person logo for event */
  position:absolute;
  top: 2vmin;
  right: 99vmin;
  width: 9.5vw;
  height: 10.5vw;
}
#pokeball{ /* pokeball settings */
  position:relative;
  left: 15vmin;
  bottom: 27vmin;
  width: 20vw;
  height: 20vw;
  transform: scaleX(-1);
}
#eventText{ /* text for event */
  position: relative;
  left: 19vmin;
  top: 1vmin;
  width: 60vw;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#eventText div{ /* font for div text*/
  font-family: 'Passion One';
}
#eventText p{ /* spacing for p element*/
  position: relative;
  bottom: 7vmin;
}
#eventText div:first-of-type{ /* title */
  font-size: 7vmin;
}
#eventText div:last-of-type{ /* info */
  width: 45vw;
  position:relative;
  bottom: 14vmin;
  font-size: 1vmin;
}

#eventText span{ /* curly font for certain words */
  font-family: 'Lobster';
}
.dealSectionContainer2{ /* second deal section */
  position:relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.dealInfoContainer{ /* deal info */
  display: flex;
  flex-direction: column;
}
#thirdBg{ /* white background for last third of design*/
  position: absolute;
  display: flex;
  top: 110vmin;
  width: 100vw;
  height: 70vh;
  align-items: center;
  z-index: -4;
}
